*{
    margin: 1%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

.auto-grid {
    display: grid;
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}
.card{
    display: flex;
    margin-top: 102px;
    margin-left: 100px;
}

.left img{
    width: 566px;
    margin-inline:32px ;
}
.card .img img{
    width: 110px;
    margin-left: 22px;
    cursor: pointer;
}
 
.card .right {
    margin-top: 11px;
}
.right h3{
    margin-top: 11px;
    color: gray;
}
.right h1{
    margin-top: 11px;
}
.right i{
    margin-top: 11px;
    color: green;
}
.right h4{
    margin-top: 11px;
}
.right p{
    margin-top: 11px;
}
.button{
    width: 200px;
    height: 50px;
    background-color: rgb(1, 1, 1);
    color: rgb(31, 244, 42);
    font-size: 25px;
    border: 2px;
    border-color: rgb(9, 240, 28);
    margin-top: 22px;
    margin-inline: 22px;
    font-weight: 600;
    margin-left: 1px;
    border-radius: 20px;
}
.button:hover{
    background-color: rgb(20, 241, 83);
    cursor: pointer;
}



